# =========================
# Compiled class files
# =========================
*.class

# =========================
# Package files
# =========================
*.jar
*.war
*.ear

# =========================
# JVM crash logs
# =========================
hs_err_pid*

# =========================
# Build directories
# =========================
/bin/
/out/
/target/

# =========================
# IDE files
# =========================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# NetBeans
# =========================
/nbproject/private/
/build/
/dist/
/nbbuild/

# =========================
# IntelliJ
# =========================
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs
# =========================
*.log
Week1.iml

